#image_gallery img {
  max-width:700px;
  widtH: auto;
  height: auto;
  max-height: 470px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  width: 90%;
  margin: 10px;
  margin-bottom: 5px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#galleryImageVideo {
  margin: 10px;
  max-width:550px;
  widtH: auto;
  height: auto;
  max-height: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  width: 90%;
}

#caption {
  margin-top:10px
}
#arrows {
  width:30px;
  height: 300px;
  margin-top:105px;
  color:white;
  border-width: 1px;
}
.centered {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

Button {
  background-color: black;
}
